@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    body, html {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: Poppins;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    .header {
      background-color: white;
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .logo-wrapper {
      display: flex;
      align-items: center;
    }
    .logo {
      max-width: 100px;
      margin: -10px;
    }
    .logo1{
      width: 100px;
      float: right;
      margin: 13px;
    }
    .company-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-items: flex-start; 
    }

    .company-name {
      font-size: 30px;
      font-weight: bold;
      font-family: Poppins;
      line-height: 1.5;
      margin-bottom: 2px;
    }

    .intto {
      font-size: 15px;
      line-height: 1;
      text-align: left;
      font-family: Poppins;
      margin-top: 0;
      margin-left: 35px;
      padding-left: 2px;
    }
    .buttons-container {
      position: relative;
      background-image: url('uc/uc_building.png');
      background-color: #ffffff;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      height: 80vh;
      overflow: hidden;
    }

    .buttons-container::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(14, 24, 18, 0.3); 
      backdrop-filter: blur(5px); 
    }

    .buttons {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    .button {
      width: 160px;
      margin: 10px;
      padding: 10px 20px;
      font-size: 18px;
      background-color: #ddd;
      border: none;
      border-radius: 4px;
      color: hsl(119, 100%, 10%);
      font-family: Poppins;      
      transition: background-color 0.3s ease;
    }

    .button:hover {
      border: solid white 2px;
      background-color:  #013200;
      color: #fff;
    }
    .inner1{
      padding-top: 30px;
      padding-bottom: 50px;
      color: white;
      letter-spacing: 2px;
      text-align: center;
    }
    .inner1 h1 {
      font-size:50px;
      margin-bottom: 0;
      line-height: 0;
      /* color: white; Set the color of the text */
      text-shadow: 1px 3px black;
    }
    .inner1 p{
      margin-top: 0; 
      line-height: 0; 
      text-shadow: 1.2px 1.2px black;
      font-size: 16px;
      
    }
    .inner2{
      text-align: center;
      justify-content: center;
    }
/* FOR THE FILE UPLOAD */
    .file-upload {
      position: relative;
      display: inline-block;
      flex-direction: column;
      z-index: 1;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 4px;
      color: hsl(119, 100%, 10%);
      font-family: Poppins;      
      transition: background-color 0.3s ease;
    }

    .inputfile {
      display: none;
    }

    .file-label {
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid black;
      border-radius: 5px;
      width: 500px;
      margin-bottom: 5px;
      background-color: rgba(158, 157, 157, 0.327);
      color: white;
      height: 35px;
      
    }

    .file-name {
      margin-left: 10px;
    }

    .file-button {
      padding: 8px 12px;
      background-color: white;
      color: #013200;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      height: 35px ;
    }
    
    .file-button:hover {
      background-color:  #b4f8e4;
      color: #013200;
      cursor: pointer;
    }

  @media screen and (max-width: 682px){
      .inner1 h1{
        font-size:40px;
      }
    }
      
  @media screen and (max-width: 650px) {
    .container{
      .logo{
        width: 80px;
        margin: -9px;
      }
      .logo1{
        width: 80px;
 
      }
      .company-name{
        font-size: 20px;
      }
      .intto{
        font-size: 11px;
        margin-top: -1px;
        position: relative;
        left: -13px;
      }
      }
    .buttons-container{
      .inner1 h1{
        font-size:33px;
      }
      .file-name {  
        font-size: 13px;
      }
      .file-label{
        width: 460px;
      }  
      .company-name{
        font-size: 26px;
      }
    
    }
    }
    
    
